@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");

/* This is for the Outline to be hidden*/
.hidden {
  display: none;
}

/* Overall declaration */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  font-size: 14px;
  background-color: #010102;
  color: #f5dd02;
}

/* This is for the header looks and layout */
header {
  width: 100%;
  height: 40vh;
  background-color: #010102;
  color: inherit;
}

/* This for the Code Cells Particles Background */
main #sheldon-code-cells {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* This for the header position and style */
header .info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  height: 1vh;
}

header .info-text h1 {
  font-size: 5rem;
  font-weight: 500;
  font-family: "Ubuntu";
}

header .info-text h3 {
  font-size: 1.5rem;
}

header > h1 {
  text-align: center;
  padding: 10px;
}

/* This for the Main and Section design and layout */
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Cascading the main color to the rest of the page */
section {
  width: 300px;
  border: 1px solid #f5dd02;
  border-radius: 4px;
  margin: 10px 12px;
  color: inherit;
}

section > h2 {
  color: inherit;
  padding: 4px 8px;
}

section:first-of-type {
  border: 1px solid #f5dd02;
}

#inprogress {
  border: 1px solid #f5dd02;
}
#inprogress h2 {
  color: inherit;
}

#done {
  border: 1px solid #f5dd02;
}
#done h2 {
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 6px 8px;
  text-transform: none;
}
ul li p {
  display: inline;
}

/* Adding Pseudo and animation to Unordered list and Shapes */
.inprogress li:nth-child(odd) {
  background-color: #66490c;
}

.todo li:hover {
  background-color: #66490c;
}
.inprogress li:hover {
  background-color: #2b1e02;
}
.done li:hover {
  background-color: #201601;
  color: #fff;
}
ul li:hover {
  background-color: #1b160b;
}
summary:hover {
  background-color: #3b3017;
}

/* Animation feature for the shapes */
@keyframes fadeSquare {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.square {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #f5dd02;

  animation-name: fadeSquare;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}
.circle {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  background-color: #f5dd02;
  border-radius: 100px;

  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes fadeSquare {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  border-bottom: 30px solid #f5dd02;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;

  animation-name: fadeSquare;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.inbox {
  position: absolute;
  bottom: 10%;
  left: 50%;
  color: inherit;
  transform: translate(0, -50%);
  transition: all 0.5s;
}
.inbox:hover {
  opacity: 0.7;
}
.inbox::before {
  position: absolute;
  top: -16px;
  left: -16px;
  z-index: -1;
  content: "";
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 #f5dd02;
  border-radius: 100%;
  animation: pulse 3s infinite;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 0;
  }
  15%,
  45% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 30px #f5dd0223;
    opacity: 0;
  }
}

/* Adding CSS to the lightbox section */
.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  /* background-image: url(../images/supersaiyanblue.png); */
  background-repeat: no-repeat;
  background-size: 55vh;
  background-position: 40px bottom;
  display: none;
}
.lightbox_close {
  position: absolute;
  top: 20px;
  right: 5%;
  color: white;
  font-size: 36px;
  text-decoration: none;
  font-weight: bolder;
  transition: all 0.5s ease-in-out;
}
.lightbox_close:hover {
  opacity: 0.5;
  color: inherit;
}
.lightbox article {
  width: 55%;
  margin-left: 20%;
  padding-top: 100px;
}
.lb_list,
.lb_heading {
  text-align: center;
}

.lb_heading {
  font-size: 34px;
}

.lightbox:target {
  display: block;
}

/* Adding Pseudo selector style for the checkbox in lightbox section */
input[type="checkbox"]:checked + span:after {
  content: "Thank you so much! 😍";
  margin-left: 5px;
}
p {
  padding: 5px 5px;
  line-height: 16px;
}

/* Adding style to details tag and summary dropdown */
details {
  border: solid 1px #f5dd02;
  padding: 10px;
  border-radius: 10px;
}

summary {
  background-color: #66490c;
  padding: 10px;
}

/* Rescaling Checkbox Icon */
input[type="checkbox"] {
  transform: scale(1.5);
}

/*checkbox CSS for To-Do unordered list*/

#tb-todo-list1[type="checkbox"] {
  margin-top: 1px !important;
  margin-right: 10px;
  transform: scale(1.3);
}
#tb-todo-list1[type="checkbox"]:checked + span:after {
  content: "⭐";
  margin-left: 5px;
}
#tb-todo-list2[type="checkbox"] {
  margin-top: 1px !important;
  margin-right: 10px;
  transform: scale(1.3);
}
#tb-todo-list2[type="checkbox"]:checked + span:after {
  content: "⭐";
  margin-left: 5px;
}
#tb-todo-list3[type="checkbox"] {
  margin-top: 1px !important;
  margin-right: 10px;
  transform: scale(1.3);
}
#tb-todo-list3[type="checkbox"]:checked + span:after {
  content: "⭐";
  margin-left: 5px;
}

/*checkbox CSS for In Progress unordered list*/

#tb-prog-list1[type="checkbox"] {
  margin-top: 1px !important;
  margin-right: 10px;
  transform: scale(1.3);
}
#tb-prog-list1[type="checkbox"]:checked + span:after {
  content: "(76%) 🛠️";
  margin-left: 5px;
}
#tb-prog-list2[type="checkbox"] {
  margin-top: 1px !important;
  margin-right: 10px;
  transform: scale(1.3);
}
#tb-prog-list2[type="checkbox"]:checked + span:after {
  content: "(84%) 🛠️";
  margin-left: 5px;
}
#tb-prog-list3[type="checkbox"] {
  margin-top: 1px !important;
  margin-right: 10px;
  transform: scale(1.3);
}
#tb-prog-list3[type="checkbox"]:checked + span:after {
  content: "(95%) 🛠️";
  margin-left: 5px;
}
/*checkbox CSS for DONE unordered list*/

#tb-done-list1[type="checkbox"] {
  margin-top: 1px !important;
  margin-right: 1px;
  transform: scale(1.3);
}
input[type="checkbox"]:checked + p {
  text-decoration: line-through;
}
#tb-done-list1[type="checkbox"]:checked ~ span.check:after {
  content: "✅";
  margin-left: 5px;
}
#tb-done-list2[type="checkbox"] {
  margin-top: 1px !important;
  margin-right: 1px;
  transform: scale(1.3);
}
#tb-done-list2[type="checkbox"]:checked ~ span.check:after {
  content: "✅";
  margin-left: 5px;
}
#tb-done-list3[type="checkbox"] {
  margin-top: 1px !important;
  margin-right: 1px;
  transform: scale(1.3);
}
#tb-done-list3[type="checkbox"]:checked ~ span.check:after {
  content: "✅";
  margin-left: 5px;
}

/* Adding style and properties to Ghost SVG file for animation */
.container {
  height: 80%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#ghost {
  width: 50px;
  animation: float 3s ease-out infinite;
}
#shadow {
  background-color: #664a0c7a;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  animation: shrink 3s ease-out infinite;
}
@keyframes shrink {
  0% {
    transform: scale(0.8, 0.2);
  }
  50% {
    transform: scale(0.5, 0.1);
  }
  100% {
    transform: scale(0.8, 0.2);
  }
}
@keyframes float {
  50% {
    transform: translateY(20px);
  }
}
